.toolbar spand {
	text-align: center;
}

.shuffled {
	stroke: darkgreen;
}

.not-shuffled {
	stroke: darkred;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.winner {
	border: 1px solid darkgreen;
	background: lightgreen;
}

.content + h1 {
	font-style: 1.5rem !important;
}
